@import url('element-plus/theme-chalk/dark/css-vars.css');

html {
  font-size: 14px;
  line-height: 22px;
}

html,
body,
ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

div, ul, li, ol, main, footer, h1, h2, h3, h4, h5, h6 {
  box-sizing: border-box;
}

.music-icon {
  display: inline-block;
}

.relative { position: relative }
.absolute { position: absolute }

.flex { display: flex }
.flex-1 { flex: 1 }
.items-center { align-items: center }
.justify-center { justify-content: center }
.justify-end { justify-content: end }
.justify-between { justify-content: space-between }
.column { flex-direction: column }

.pl-16 { padding-left: 16px }
.pr-16 { padding-right: 16px }

.color-white { color: white }

.cursor-pointer { cursor: pointer }

.height-100 { height: 100% }

$gap-list: (2, 4, 8, 12, 16);
@each $gap in $gap-list {
  .gap-#{$gap} {
    gap: #{$gap}px;
  }
}

$fs-list: (12, 14, 22);
@each $fs in $fs-list {
  .fs-#{$fs} {
    font-size: #{$fs}px;
  }
}